<?xml version="1.0" encoding="utf-8"?>
<cms.pagetemplatecategory>
  <CategoryDisplayName>Events</CategoryDisplayName>
  <CategoryGUID>9b24a425-4b22-494c-a07b-e400c371ce79</CategoryGUID>
  <CategoryImagePath />
  <CategoryName>Events</CategoryName>
  <CategoryParentID>
    <CodeName>/</CodeName>
    <GUID>532264bf-95e9-4035-b4ce-fe403c81781a</GUID>
    <ObjectType>cms.pagetemplatecategory</ObjectType>
  </CategoryParentID>
</cms.pagetemplatecategory>