<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="WS.webservice" value="http://localhost:8045/WebService/webservice.asmx" xdt:Transform="Replace" />
  <add key="CMSTrialKey" value="CX11-20180730-spgOMm" />
  <add key="CMSHashStringSalt" value="3278a21a-7b38-43d4-982c-dd8b4c943041" />
</appSettings>