<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="CMSConnectionString" connectionString="Data Source=CI00031571;Initial Catalog=KenticoReferenceQA;Integrated Security=False;Persist Security Info=False;User ID=KENTICOUSER;Password=KENTICOUSER;Connect Timeout=60;Encrypt=False;Current Language=English;" xdt:Transform="Replace"/>
</connectionStrings>